body {
    background: #ff6f00;
    font-family: sans-serif;
    margin: 0;
    
}

.all {
    color: #fff;
}

.main {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-content h1{
    text-align: center;
}

.div-box {
    background-color:black;
    height: 400px;
    width: 400px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
    display: block;
    margin-left: 50%;
    margin-right: auto;
    transform: translate(-50%, -50%);
}

.center {
  display: block;
  margin-left: auto;
  top:10%; 
  margin-right: auto;
  margin-bottom: 40%;
  width: 50%;
}


.text-shadow {
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 15px;
}

.emailbox {
  margin-top: 35px;
}

.passwordbox {
  margin-top: 35px;
}

.walletbox {
  margin-top: 35px;
}

.login-button {
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.register-button {
  margin-left:auto;
}

.navigation {
  width: 100%;
  background-color: black;
}

.navigation2 {
  width: 100%;
  margin-left:0;
  left:100%;
}

.logout {
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Trispace', sans-serif;
  font-family: 'VT323', monospace;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: rgb(255, 255, 255);
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .logout{
  opacity: .9;
}

.register-button2 {
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

form input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    font-size: 15px;
    line-height:1.5;
}



.footer {
  margin-top: 0px;
  margin-bottom: -1200px;
}

.header {
  margin-top:-30px;
  margin-left:-10px;
}


.moving {
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'VT323', monospace;
}

.container1 {
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 5px;
  margin-left:20%;
  margin-top:10%;

}

.container2 {
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 5px;
  margin-left:2%;
  margin-top:10%;
  margin-bottom:10%;
}

.container3 {
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 5px;
  margin-left:20%;
  margin-top:-5%;
  margin-bottom:10%;
}

.container4 {
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 5px;
  margin-left:2%;
  margin-top:-5%;
  margin-bottom:10%;
}

.containerfoto {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 4px #8a8a8a;
}

.namakelompok {
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 4px #8a8a8a;
}

.textborder {
  border: 2px solid cyan;
  border-radius: 8px;
  padding: 100px;
  width: 50%;
  height:50%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
}

.purchasingbox {
  margin-top: -700px;
}
